<div class="grid grid-cols-3 gap-4 place-items-center h-56">
    <table class="table-auto">
        <thead>
          <tr class="flex">
            <div class="flex px-4">
                <img class="w-20"src="../assets/pp.jfif" alt="">
            </div>
            <div> 
                <th>Adinda</th><br>
                <td class="font-serif">Jakarta</td>
                <td class="pl-4">|</td>
                <td class="font-serif pl-4">Indonesia</td>
            </div>
          </tr>
        </thead>
        <tbody>
        <div class="flex px-4"><br>
            <tr><br>
            <span class="inline-block align-middle">
                <td class="font-mono">current balance: </td>
            </span>
            </tr>
        </div>
        </tbody>
    </table>
</div>
